.MainSection {
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  /* background-color: aqua; */
}

.SectionContainer {
  height: (56.25rem * 2) + 40vh;
  width: 76vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  /* background-color: aquamarine; */
}

.box{
    width: 12vw;
    /* background-color: coral; */
}

.MainBox{
    /* background-color: lightblue; */
    width: 100%;
    height: 80%;
    /* border: 2px solid #404C4C; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.ModelBox{
    background-color: #D4BEA7;
    width: 35%;
    height: 100%;
    border-top-left-radius: 200px;
}

.InfoBox{
    /* background-color: lightpink; */
    border-bottom-right-radius: 200px;
    border: 2px solid #404C4C;
    box-sizing: border-box;
    width: 65%;
    height: 100%;
    display: flex;
}

.FillerBox{
    width: 15%;
    height: 100%;
    /* background-color: turquoise; */
}

.InsideBox{
  width: 70%;
  height: 85%;
  /* background-color: yellow; */
  align-self: center;
}

.btnConfirm {
  background-color: #404C4C;
  border: none;
  color: white;
  /* padding: 1px 32px; */
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  height: 45px;
  width: 244px;
  font-size: 20px;
}

.NameBox{
  /* background-color: greenyellow; */
  height: 15%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #A95C4C;
}

.DetailBox{
  /* background-color: orange; */
  height: 20%;
  color: #D4BEA7;
}

.SummaryBox{
  /* background-color: pink; */
  height: 10%;
  display: flex;
}

.NotesBox{
  /* background-color: lightgray; */
  height: 25%;
  color: #D4BEA7;
}

.QtyBox{
  /* background-color: lightcoral; */
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* color: #404C4C; */
}

.PriceBox{
  /* background-color: magenta; */
  height: 50%;
  width: 50%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #404C4C;
}