.HeroSection {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.HeroPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.HeroOverlay {
    position: absolute;
    top: 35vh;
    z-index: 2;
    margin: 9.375rem;
}