.LandingSection {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin-top: -6.25rem;
}

.LandingPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 85%;
}

.LandingOverlay {
  position: absolute;
  top: 10vh;
  z-index: 2;
  margin: 9.375rem;
}

.FAQSection {
  padding-top: 6.875rem;
  width: 100vw;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6.875rem;
}

.FAQContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.FAQHeader {
  flex: 1;
  max-width: 40%;
  padding-right: 2rem;
}

.FAQList {
  flex: 1;
  max-width: 55%;
}

.FAQItem {
  border-bottom: 1px solid var(--color-secondary);
  padding: 1.2rem 0;
}

.FAQItem:last-child {
  border-bottom: none;
}

.FAQQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.FAQQuestion .toggle {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.FAQQuestion .toggle img {
  width: 100%;
  height: 100%;
}

.FAQQuestion .toggle.open {
  transform: rotate(180deg);
}

.FAQAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out;
}

.FAQAnswerInner {
    padding-top: 0.25rem;
    color: var(--color-text-grey);
}

.ContactCustomerServiceWidget {
  width: 100%;
  height: 25vh;
  background-color: var(--color-ternary);
  border-radius: 2.5svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  box-sizing: border-box;
}

.ContactCustomerServiceDescription {
  flex-grow: 1;
}