body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* This is the primary fix for the white gap */
  font-family: "Playfair Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  width: 100%; /* Ensures body doesn't expand */
}

/* Added global box-sizing to prevent padding from creating white space */
* {
  box-sizing: border-box;
}

code {
  font-family: "Playfair Display";
}


:root {
  --color-primary: #a55749;
  --color-secondary: #b38d89;
  --color-ternary: #3e4a49;
  --color-background-light: #d4c4b5;
  --color-background-dark: #7d796e;
}


h1,
.h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}


h2,
.h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}


h3,
.h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}


.p1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}


.p2 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}


.p3 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}


.txt-color-primary {
  color: var(--color-primary);
}


.txt-color-secondary {
  color: var(--color-secondary);
}


.txt-color-ternary {
  color: var(--color-ternary);
}


.txt-color-bg-light {
  color: var(--color-background-light);
}


.txt-color-bg-dark {
  color: var(--color-background-dark);
}


.txt-color-white {
  color: white;
}


.txt-decoration-none {
  text-decoration: none;
}


.weight-regular {
  font-weight: 400;
}


.weight-semibold {
  font-weight: 600;
}


.weight-bold {
  font-weight: 700;
}


.rounded-button-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 1rem;
}


.button-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 1rem;
}


.rounded-button-primary-fill {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 0.5rem;
  width: 100%;
}


.button-primary-fill {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 0.5rem;
  width: 100%;
}


.rounded-button-ternary {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 1rem;
}


.button-ternary {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 1rem;
}


.rounded-button-ternary-fill {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 0.5rem;
  width: 100%;
}


.button-ternary-fill {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 0.5rem;
  width: 100%;
}


.rounded-button-primary:hover,
.button-primary:hover,
.rounded-button-primary-fill:hover,
.button-primary-fill:hover,
.rounded-button-ternary:hover,
.button-ternary:hover,
.rounded-button-ternary-fill:hover,
.button-ternary-fill:hover {
  opacity: 0.9;
}


.rounded-button-primary:disabled,
.button-primary:disabled,
.rounded-button-primary-fill:disabled,
.button-primary-fill:disabled,
.rounded-button-ternary:disabled,
.button-ternary:disabled,
.rounded-button-ternary-fill:disabled,
.button-ternary-fill:disabled {
  background-color: var(--color-background-dark);
  opacity: 0.5;
}


/* HOME PAGE */
.HeroSection {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-top: -6.25rem;
}


.HeroPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  top: 0;
}


.HeroOverlay {
  position: absolute;
  top: 35vh;
  z-index: 2;
  margin: 9.375rem;
}


.OurStorySectionContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6.25rem;
  margin: 0;
}


.OurStorySection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.OurStoryImageLeft {
  flex-shrink: 0;
  width: 18.75rem;
  height: 56.25rem;
  border-end-end-radius: 6.25rem;
  padding-top: 20vh;
  overflow: hidden;
}


.OurStoryImageRight {
  flex-shrink: 0;
  width: 18.75rem;
  height: 56.25rem;
  border-start-start-radius: 6.25rem;
  padding-bottom: 20vh;
  overflow: hidden;
}


.OurStoryPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.OurStoryContent {
  flex-grow: 1;
  text-align: center;
  max-width: 37.5rem;
}


.CustomizeYourOwnSectionContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6.25rem;
  margin: 0;
}


.CustomizeYourOwnSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 70vh;
  overflow: hidden;
}


.CustomizeImageWrapper {
  flex-shrink: 0;
  width: 45%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  z-index: 2;
}


.CustomizeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.CustomizeContent {
  flex-grow: 1;
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  margin-left: -1rem;
  background-color: var(--color-background-light);
  text-align: left;
}


/* SHOP PAGE */
.ShopMostPopularSection {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.ShopMostPopularDescription {
  padding: 2.75rem 9.375rem;
  align-self: center;
  text-align: center;
}


/* ABOUT PAGE */
.AboutLandingContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -6.25rem;
}


.AboutLandingSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  width: 100%;
}


.AboutLandingContentTitle {
  padding-top: 9.063rem;
  padding-left: 9.375rem;
}


.AboutLandingDivider {
  width: 50%;
  border: none;
  border-top: 1px solid var(--color-background-light);
  margin: 0.5rem 0 0.5rem 0;
  align-self: flex-start;
}


.AboutLandingContentTop {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}


.AboutLandingImageTop {
  width: 100%;
  max-width: 44.375rem;
  height: 15.625rem;
  object-fit: cover;
  display: block;
  padding-top: 7.188rem;
}


.AboutLandingContentBottom {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  gap: 7.5rem;
  margin-top: 2.5rem;
  padding: 0 9.375rem;
}


.AboutLandingImageBottom {
  width: 26.25rem;
  height: 15.625rem;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}


.AboutLandingDescription {
  width: 60%;
}


.AboutPhilosophyContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 12.5rem;
}


.AboutPhilosophySection {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.AboutPhilosophyTopContent {
  display: flex; /* Changed from Grid to Flex for better width control */
  min-height: 40vh;
  border: 1px solid black;
  width: 100%;
}


.AboutPhilosophyHeaderText {
  width: 30%; /* Changed from 30vw to 30% to fit container */
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}


.AboutPhilosophyDescriptionWrapper {
  width: 70%; /* Changed from 70vw to 70% to fit container */
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.AboutPhilosophyDescription {
  width: 90%;
}


.AboutPhilosophyImageBottom {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border: 1px solid black;
  border-top: none;
}


.AboutPhilosophyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 20%;
}


.AboutOurStoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 9.5rem;
}


.AboutVideoWrapper {
  width: 100%;
  max-width: 80vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1.875rem;
}


.AboutOurStoryVideo {
  width: 100%;
  height: auto;
  display: block;
}


/* LOGIN AND REGISTER PAGE */
.LoginSection,
.RegisterSection {
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/Landing.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 9.375rem;
}


.LoginForm,
.RegisterForm {
  width: 35%;
  height: fit-content;
  padding: 4rem 2rem;
  background-color: var(--color-background-light);
  border-radius: 5svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.LoginLogo,
.RegisterLogo {
  width: 60%;
  height: auto;
  padding-bottom: 2rem;
}


.LoginInputGroup,
.RegisterInputGroup {
  width: 90%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}


.LoginInput,
.RegisterInput {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5rem;
}


.LoginIcon,
.RegisterIcon {
  padding-right: 0.5rem;
}


.LoginInputTextfield,
.RegisterInputTextfield {
  width: 100%;
  padding: 0.5rem 0.25rem;
  border-radius: 1svh;
  font-size: 1rem;
  background-color: white;
  border: 0;
}


.AlignCenter {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}


/* HELP PAGE */
.HelpLandingSection {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-top: -6.25rem;
}


.HelpLandingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 85%;
}


.HelpLandingOverlay {
  position: absolute;
  top: 10vh;
  z-index: 2;
  margin: 9.375rem;
}


.FAQSection {
  padding-top: 6.875rem;
  width: 100%;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6.875rem;
}


.FAQContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.FAQHeader {
  flex: 1;
  max-width: 40%;
  padding-right: 2rem;
}


.FAQList {
  flex: 1;
  max-width: 55%;
}


.FAQItem {
  border-bottom: 1px solid var(--color-secondary);
  padding: 1.2rem 0;
}


.FAQItem:last-child {
  border-bottom: none;
}


.FAQQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.FAQQuestion .toggle {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}


.FAQQuestion .toggle img {
  width: 100%;
  height: 100%;
}


.FAQQuestion .toggle.open {
  transform: rotate(180deg);
}


.FAQAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out;
}


.FAQAnswerInner {
  padding-top: 0.25rem;
  color: var(--color-text-grey);
}


.ContactCustomerServiceSection {
  width: 100%;
  height: 25vh;
  background-color: var(--color-ternary);
  border-radius: 2.5svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}


.ContactCustomerServiceDescription {
  flex-grow: 1;
}


/* PROFILE PAGE */
.ProfilePageContainer {
  margin: 2.5rem 5rem;
}


.TernaryBackButton {
  background: var(--color-ternary);
  border: none;
  border-radius: 50%;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.TernaryBackButton:hover {
  opacity: 0.5;
}


.ProfileSection {
  margin: 0 4.375rem;
}


.ProfileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}


.ProfileInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}


.ProfileIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  color: var(--color-background-dark);
}


.ProfileActions {
  display: flex;
  gap: 15px;
  font-size: 1.5rem;
  color: var(--color-background-dark);
  cursor: pointer;
}


.ProfileUserDetail {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}


.ProfileDetailRow {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}


.ProfileLabel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.ProfileLabel label {
  font-size: 0.9rem;
  opacity: 0.8;
}


.ProfileLabel input {
  background-color: rgba(212, 190, 167, 0.5);
  border: none;
  padding: 1rem;
  border-radius: 8px;
}


.ProfileLabel input::placeholder {
  color: #a0a0a0;
}


.ProfileLabel input:focus {
  outline: 0;
}


.ProfileLabel input.read-only-input {
  cursor: default;
  background-color: rgba(212, 190, 167, 0.3);
}


.ProfileLabel input.read-only-input:focus {
  outline: none;
}


.ProfileEditButtonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  gap: 1rem;
  transition: opacity 0.3s ease;
}


.MyOrderSection {
  background-color: rgba(212, 190, 167, 0.3);
  padding: 1.875rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.ErrorMessage {
  color: #d93025;
  font-size: 0.75rem;
  margin-top: -15px;
  margin-bottom: 15px;
  font-weight: 500;
}


.ProfileLabel input.invalid {
  border: 1px solid #d93025;
}


/* ORDER DETAIL PAGE */
.OrderDetailSection {
  margin: 2.5rem 5rem;
}


.PrimaryBackButton {
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.PrimaryBackButton:hover {
  opacity: 0.5;
}


.OrderDetailCard {
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-ternary);
}


.OrderDetailCardHeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}


.OrderTracker {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 2rem 3rem 2rem;
}


.OrderDetailTrackerLineBackground {
  position: absolute;
  top: 0.625rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  background-color: var(--color-background-light);
  z-index: 1;
  border-radius: 2px;
}


.OrderDetailTrackerLineProgress {
  position: absolute;
  top: 0.625rem;
  left: 0;
  height: 0.2rem;
  background-color: var(--color-primary);
  z-index: 2;
  border-radius: 2px;
  transition: width 0.5s ease-in-out;
}


.OrderDetailStepItem {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5rem;
}


.OrderDetailStepCircle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  border: 0.25rem solid var(--color-background-light);
  margin-bottom: 12px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}


.OrderDetailStepItem.active .OrderDetailStepCircle.active {
  border-color: var(--color-primary);
}


.OrderDetailDeliverySummaryRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1.5rem;
}


.DeliveryInfoRow {
  margin: 1rem 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}


.DeliveryInfoRow .label {
  display: inline-block;
  width: 150px;
  color: var(--text-grey);
}


.DeliveryInfoRow .value {
  font-weight: 500;
}


.CopyButton {
  background: white;
  border: 1px solid #ccc;
  font-size: 10px;
  padding: 2px 6px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 2px;
  color: #555;
  transition: all 0.2s;
}


.CopyButton:hover {
  border-color: var(--text-dark);
  color: var(--text-dark);
}


.OrderDetailBottomCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}


.OrderDetailCustomerSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.OrderDetailInfoGrid {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 12px 0;
  font-size: 14px;
  margin-bottom: 40px;
}


.OrderDetailInfoGrid .label {
  color: var(--text-grey);
}


.OrderDetailInfoGrid .value {
  color: var(--text-dark);
}


.OrderDetailInfoGrid .value.link {
  text-decoration: underline;
  cursor: pointer;
}


.OrderDetailContactAdmin {
  text-decoration: underline;
  margin-top: auto;
  display: inline-block;
}


.OrderDetailProductItem {
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid var(--color-background-dark);
  padding-bottom: 2.5rem;
}


.OrderDetailProductImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  background-color: #eee;
  margin-right: 1.25rem;
  border-radius: 2.5svh;
}


.OrderDetailProductDetails {
  flex: 1;
}


.OrderDetailProductItems {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}


.OrderDetailQuantityRow {
  font-weight: bold;
  font-size: 13px;
  margin: 1rem 0;
}


.OrderDetailNotes {
  color: var(--color-background-dark);
  margin-top: 1rem;
  line-height: 1.4;
}


.OrderDetailNoteLabel {
  font-style: italic;
  margin-right: 0.5rem;
}


.OrderDetailPricingBreakdown {
  padding-top: 1rem;
}


.OrderDetailPriceRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.OrderDetailPriceRow.total {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-background-dark);
}


/* ADDRESS PAGE */
.AddressSection {
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}


.AddressSectionContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
}


.AddressBox {
  width: 100%;
  border: 1px solid var(--color-ternary);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: #fff;
}


.AddressFormGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}


.AddressFormGrid .FormColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.AddressFormGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.AddressFormGroup input,
.AddressFormGroup select,
.AddressFormGroup textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 1svh;
  border: none;
  background-color: rgba(212, 190, 167, 0.5);
}


.AddressFormGroup input:focus,
.AddressFormGroup select:focus,
.AddressFormGroup textarea:focus {
  outline: 0;
}


.AddressFormGroup textarea {
  height: 7.5rem;
  resize: none;
}


.AddressButtonContainer {
  grid-column: 1 / span 3;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}


/* ============================================================
   REACTIVE STACKING LOGIC (MOBILE & TABLET)
   ============================================================ */
@media (max-width: 1024px) {
  .HeroOverlay {
    margin: 2rem;
    top: 20vh;
    text-align: center;
    max-width: 90%;
  }

  .OurStorySectionContainer {
    height: auto;
    padding: 4rem 0;
  }

  .OurStorySection {
    flex-direction: column;
  }

  .OurStoryImageRight {
    display: none;
  }

  .OurStoryImageLeft {
    width: 100%;
    height: 40vh;
    padding: 0;
    border-radius: 2rem;
  }

  .OurStoryContent {
    padding: 2rem;
    order: 2;
  }

  .CustomizeYourOwnSectionContainer {
    height: auto;
    padding: 4rem 0;
  }

  .CustomizeYourOwnSection {
    flex-direction: column;
    width: 70%;
    height: auto;
  }

  .CustomizeImageWrapper {
    width: 100%;
    height: 350px;
    border-radius: 2rem 2rem 0 0;
  }

  .CustomizeContent {
    margin: 0;
    width: 100%;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
  }

  /* ABOUT PAGE */
  .AboutLandingSection {
    grid-template-columns: 1fr;
  }

  .AboutLandingContentTitle {
    padding: 6rem 2rem 0;
    text-align: center;
  }

  .AboutLandingContentTop {
    display: none;
  }

  .AboutLandingContentBottom {
    flex-direction: column;
    gap: 2rem;
    grid-column: 1;
    padding: 2rem;
  }

  .AboutLandingImageBottom,
  .AboutLandingDescription {
    width: 100%;
    text-align: center;
  }

  .AboutPhilosophyTopContent {
    flex-direction: column;
    height: auto;
  }

  .AboutPhilosophyHeaderText,
  .AboutPhilosophyDescriptionWrapper {
    width: 100%;
    height: auto;
    padding: 2rem;
    border-right: none;
    border-bottom: 1px solid black;
  }

  /* HELP PAGE */
.HelpLandingSection {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-top: -6.25rem;
}


.HelpLandingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 85%;
}


.HelpLandingOverlay {
  position: absolute;
  top: 10vh;
  z-index: 2;
  margin: 9.375rem;
}


.FAQSection {
  padding-top: 6.875rem;
  width: 100%;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6.875rem;
}


.FAQContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.FAQHeader {
  flex: 1;
  max-width: 40%;
  padding-right: 2rem;
}


.FAQList {
  flex: 1;
  max-width: 55%;
}


.FAQItem {
  border-bottom: 1px solid var(--color-secondary);
  padding: 1.2rem 0;
}


.FAQItem:last-child {
  border-bottom: none;
}


.FAQQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.FAQQuestion .toggle {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}


.FAQQuestion .toggle img {
  width: 100%;
  height: 100%;
}


.FAQQuestion .toggle.open {
  transform: rotate(180deg);
}


.FAQAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out;
}


.FAQAnswerInner {
  padding-top: 0.25rem;
  color: var(--color-text-grey);
}


.ContactCustomerServiceSection {
  width: 100%;
  height: 25vh;
  background-color: var(--color-ternary);
  border-radius: 2.5svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}


.ContactCustomerServiceDescription {
  flex-grow: 1;
}

/* PROFILE PAGE */

  .ProfilePageContainer {
    margin: 2rem 1.5rem;
  }

  .ProfileSection {
    margin: 0;
  }

  .ProfileHeader {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .ProfileDetailRow {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .ProfileLabel {
    width: 100%;
  }

  .ProfileEditButtonsContainer {
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  /* ADDRESS: Stacking */
  .AddressFormGrid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .AddressButtonContainer {
    grid-column: 1;
  }

  /* LOGIN & REGISTER */
  .LoginSection,
  .RegisterSection {
    padding: 0;
    justify-content: center;
  }

  .LoginForm,
  .RegisterForm {
    width: 70%;
  }

  .LoginLogo,
  .RegisterLogo {
    width: 60%;
    height: auto;
  }

  /* PROFILE & ORDER */
  .ProfileDetailRow,
  .OrderDetailBottomCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .FAQContent {
    flex-direction: column;
  }

  .FAQHeader,
  .FAQList {
    max-width: 100%;
  }

  .ContactCustomerServiceSection {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
  }

  /* ORDER DETAIL PAGE */
  .OrderDetailSection {
    margin: 2rem 1.5rem; /* Reduce large 5rem side margins */
  }

  .OrderTracker {
    margin: 0 1rem 3rem 1rem; /* Less horizontal padding for the progress bar */
  }

  .OrderDetailBottomCard {
    gap: 30px; /* Bring the product list and pricing closer */
  }

  .DeliveryInfoRow .label {
    width: 120px; /* Shrink label space for tighter screens */
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* HOME PAGE */

  
  .Customizer-MainSection {
    height: auto;
    min-height: 105vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
  }

  .Customizer-box {
    width: 4vw; /* spacer diperkecil */
  }

  .Customizer-SectionContainer {
    width: 92vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Customizer-MainBox {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
  }

  /* ============================= */
  /* MODEL & INFO */
  /* ============================= */

  .Customizer-ModelBox {
    width: 50%;
    height: 100%;
    background-color: #000;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
  }

  .Customizer-InfoBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ============================= */
  /* FORM SECTION */
  /* ============================= */

  .Customizer-Message,
  .Customizer-Question,
  .Customizer-Answer {
    width: 95%;
    height: auto;
    margin-bottom: 10px;
  }

  .Customizer-AddModel {
    width: 95%;
    height: auto;
    min-height: 180px;
  }

  .Customizer-Color {
    width: 60%;
    height: auto;
  }

  .Customizer-input-group {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
  }

  .Customizer-input-label {
    width: 35%;
    font-size: 14px;
    min-width: auto;
    padding: 8px;
    background-color: #7f8381; /* Abu-abu gelap */
    color: white;
    /* padding: 10px 10px;        Spasi di sekitar teks label */
    white-space: nowrap;       /* Mencegah teks turun baris */
    display: flex;
    align-items: center;       /* Tengah vertikal */
    font-size: 16px;
    cursor: pointer;           /* Kursor berubah saat hover label */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .Customizer-input-field-customizer {
    font-size: 14px;
    padding: 8px 12px;
    background-color: #c4c3bf; /* Abu-abu muda/beige */
    border: none;              /* HAPUS border bawaan browser */
    outline: none;             /* HAPUS garis biru saat diklik */
    flex-grow: 1;              /* Mengisi sisa ruang */
    padding: 10px 15px;        /* Spasi di dalam ketikan */
    font-size: 16px;
    color: #333;               /* Warna teks saat mengetik */
    /* border: 1px solid #404C4C; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

    .Customizer-label-nama{
   background-color: #A95C4C
  }

  .Customizer-input-nama{
      background-color: #D4BEA7
  }

  /* ============================= */
  /* COLOR & PRICE */
  /* ============================= */

  .Customizer-colorAndPrice {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .Customizer-order-summary-container {
    /* max-width: 400px; */
    width : 100%;
  }

  /* ============================= */
  /* TOOLBAR */
  /* ============================= */

  .Customizer-canvas-toolbar {
    position : absolute;
    top: 16px;
    right: 16px;
    padding: 10px 6px;
    gap: 6px;
    z-index: 50;

    background-color: rgba(121, 117, 107, 0.8); 
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.-1);
  }

  .Customizer-toolbar-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
  }

  .Customizer-toolbar-btn .Customizer-icon {
    font-size: 18px;
  }

  /* ============================= */
  /* BUTTON */
  /* ============================= */

  .Customizer-btnAddress {
    width: 30%;
    height: 46px;
    font-size: 18px;
    margin: 12px auto;
    background-color: #404C4C;
    border: none;
    color: white;
  }

  .Confirmation-MainSection {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    /* background-color: aqua; */
  }

  .Confirmation-SectionContainer {
    height: (56.25rem * 2) + 40vh;
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    /* background-color: aquamarine; */
  }

  .Confirmation-box{
      width: 12vw;
      /* background-color: coral; */
  }

  .Confirmation-MainBox{
      /* background-color: lightblue; */
      width: 100%;
      height: 80%;
      /* border: 2px solid #404C4C; */
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      border-top-left-radius: 200px;
      border-bottom-right-radius: 200px;
  }

  .Confirmation-ModelBox{
      background-color: #D4BEA7;
      width: 35%;
      height: 100%;
      border-top-left-radius: 200px;
  }

  .Confirmation-InfoBox{
      /* background-color: lightpink; */
      border-bottom-right-radius: 200px;
      border: 2px solid #404C4C;
      box-sizing: border-box;
      width: 65%;
      height: 100%;
      display: flex;
  }

  .Confirmation-FillerBox{
      width: 15%;
      height: 100%;
      /* background-color: turquoise; */
  }

  .Confirmation-InsideBox{
    width: 70%;
    height: 85%;
    /* background-color: yellow; */
    align-self: center;
  }

  .Confirmation-btnConfirm {
    background-color: #404C4C;
    border: none;
    color: white;
    /* padding: 1px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    width: 170px;
    font-size: 17px;
  }

  .Confirmation-NameBox{
    /* background-color: greenyellow; */
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #A95C4C;
  }

  .Confirmation-DetailBox{
    /* background-color: orange; */
    height: 20%;
    color: #D4BEA7;
  }

  .Confirmation-SummaryBox{
    /* background-color: pink; */
    height: 10%;
    display: flex;
  }

  .Confirmation-NotesBox{
    /* background-color: lightgray; */
    height: 25%;
    color: #D4BEA7;
  }

  .Confirmation-QtyBox{
    /* background-color: lightcoral; */
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* color: #404C4C; */
  }

  .Confirmation-PriceBox{
    /* background-color: magenta; */
    height: 50%;
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #404C4C;
  }

  .Confirmation-Message{
      width: 90%;
      height: 12%;
      /* background-color: lightgreen; */
  }

  .Confirmation-Voucher{
      width: 90%;
      height: 12%;
      /* background-color: lightgreen; */
  }

  .Confirmation-input-group {
    display: flex;             /* Menyusun label & input bersebelahan */
    height: 80%;
    width: 100%;
    max-width: 600px;          /* Lebar maksimal */
        /* Sudut melengkung */
    overflow: hidden;          /* Memotong sudut anak elemen */
    /* font-family: 'Times New Roman', serif; Font Serif sesuai gambar */
  }

  /* Bagian Label (Kiri) */
  .Confirmation-input-label {
    background-color: #7f8381; /* Abu-abu gelap */
    color: white;
    padding: 10px 10px;        /* Spasi di sekitar teks label */
    white-space: nowrap;       /* Mencegah teks turun baris */
    display: flex;
    align-items: center;       /* Tengah vertikal */
    font-size: 16px;
    cursor: pointer;           /* Kursor berubah saat hover label */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: auto;
  }

  /* Bagian Input (Kanan) */
  .Confirmation-input-field-customizer{
    background-color: #c4c3bf; /* Abu-abu muda/beige */
    border: none;              /* HAPUS border bawaan browser */
    outline: none;             /* HAPUS garis biru saat diklik */
    flex-grow: 1;              /* Mengisi sisa ruang */
    padding: 10px 15px;        /* Spasi di dalam ketikan */
    font-size: 16px;
    color: #333;               /* Warna teks saat mengetik */
    /* border: 1px solid #404C4C; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* Opsional: Efek saat input diklik/aktif */
  .Confirmation-input-field:focus {
    background-color: #dcdbd7; /* Sedikit lebih terang saat mengetik */
    border-radius: 0px;

  }

  .Confirmation-label{
    background-color: #A95C4C
  }

  .Confirmation-input{
      background-color: #D4BEA7
  }

    .Confirmation-btnContainer{
    display: flex;
    justify-Content: center;
    padding-Top: 30px;
  }
}


@media (max-width: 600px) {
  h1,
  .h1 {
    font-size: 1.8rem;
  }

  /* HOME PAGE */

  .HeroOverlay {
    top: 15vh;
    margin: 1rem;
  }

  .CustomizeYourOwnSection {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  /* HELP PAGE */

  .HelpLandingSection {
    height: 50vh;
  }

  .HelpLandingOverlay {
    margin: 1rem;
    top: 10vh;
  }

  .FAQSection {
    padding: 3rem 1rem;
  }

  .FAQHeader h2 {
    font-size: 1.5rem;
  }

  .ContactCustomerServiceSection {
    border-radius: 1.5rem; /* Slightly tighter corners for small screens */
  }

  /* LOGIN PAGE */
  .LoginForm,
  .RegisterForm {
    width: 95%;
  }

  .LoginLogo,
  .RegisterLogo {
    width: 80%;
    height: auto;
  }

  /* ORDER DETAIL */
  .OrderTracker {
    margin: 2rem 0 3rem 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .OrderDetailTrackerLineBackground,
  .OrderDetailTrackerLineProgress {
    top: 0.625rem;
    height: 2px;
    left: 10%; 
    right: 10%;
    width: auto;
    position: absolute;
    z-index: 1;
  }

  .OrderDetailStepItem {
    flex: 1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
  }

  .OrderDetailStepCircle {
    width: 1.25rem;
    height: 1.25rem;
    border-width: 0.2rem;
    margin-bottom: 8px;
    background-color: white;
  }

  .OrderDetailStepItem span {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    display: block;
    max-width: 70px;
    color: var(--color-ternary);
  }

  .OrderDetailCardHeaderRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .DeliveryInfoRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 1.2rem;
  }

  .DeliveryInfoRow .label {
    width: 100%;
    font-size: 0.8rem;
    opacity: 0.7;
  }

  .OrderDetailBottomCard {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

   .Customizer-MainSection {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .Customizer-box {
    display: none;
  }

  .Customizer-SectionContainer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
  }

  .Customizer-MainBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  /* ============================= */
  /* MODEL 3D */
  /* ============================= */

  .Customizer-ModelBox {
    width: 100%;
    height: 42vh;
    background-color: #000;
    border-radius: 0 0 28px 28px;
  }

  /* ============================= */
  /* INFO / FORM */
  /* ============================= */

  .Customizer-InfoBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
  }

  .Customizer-Message,
  .Customizer-Question,
  .Customizer-Answer {
    width: 94%;
    height: auto;
    margin-bottom: 12px;
  }

  .Customizer-AddModel {
    width: 94%;
    height: auto;
    min-height: 200px;
    margin-bottom: 12px;
  }

  .Customizer-Color {
    width: 100%;
    height: auto;
  }

  .Customizer-input-group {
    width: auto;
    height: auto;
    max-width: 100%;
    display: flex;
  }

  .Customizer-input-label {
    width: 30%;
    min-width: auto;
    font-size: 14px;
    padding: 8px;
    background-color: #7f8381; /* Abu-abu gelap */
    color: white;
    /* padding: 10px 10px;        Spasi di sekitar teks label */
    white-space: nowrap;       /* Mencegah teks turun baris */
    display: flex;
    align-items: center;       /* Tengah vertikal */
    font-size: 16px;
    cursor: pointer;           /* Kursor berubah saat hover label */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .Customizer-input-field-customizer {
    font-size: 14px;
    padding: 8px 12px;
    background-color: #c4c3bf; /* Abu-abu muda/beige */
    border: none;              /* HAPUS border bawaan browser */
    outline: none;             /* HAPUS garis biru saat diklik */
    flex-grow: 1;              /* Mengisi sisa ruang */
    padding: 10px 15px;        /* Spasi di dalam ketikan */
    font-size: 16px;
    color: #333;               /* Warna teks saat mengetik */
    /* border: 1px solid #404C4C; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .Customizer-label-nama{
   background-color: #A95C4C
}

.Customizer-input-nama{
    background-color: #D4BEA7
}

  /* ============================= */
  /* COLOR & PRICE */
  /* ============================= */

  .Customizer-colorAndPrice {
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .Customizer-order-summary-container {
    width: 100%;
    max-width: 100%;
  }

  /* ============================= */
  /* TOOLBAR */
  /* ============================= */

  .Customizer-canvas-toolbar {
    position: absolute;
    bottom: 12px;
    right: 12px;
    top: auto;
    flex-direction: row;
    padding: 8px 10px;
    gap: 6px;
    z-index: 50;

    background-color: rgba(121, 117, 107, 0.8); 
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.-1);
  }

  .Customizer-toolbar-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
  }

  .Customizer-toolbar-btn .Customizer-icon {
    font-size: 18px;
  }

  .Customizer-toolbar-divider {
    width: 1px;
    height: 20px;
  }

  /* ============================= */
  /* ACTION BUTTON */
  /* ============================= */

  .Customizer-btnAddress {
    width: 92%;
    height: 48px;
    font-size: 18px;
    margin: 12px auto;
    background-color: #404C4C;
    border: none;
    color: white;
  }

  .Confirmation-MainSection {
    height: 110vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    /* background-color: aqua; */
  }

  .Confirmation-SectionContainer {
    height: 110vh;
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    /* background-color: aquamarine; */
  }

  .Confirmation-box{
      width: 12vw;
      /* background-color: coral; */
  }

  .Confirmation-MainBox{
      /* background-color: lightblue; */
      width: 100%;
      height: 100%;
      /* border: 2px solid #404C4C; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top-left-radius: 200px;
      border-bottom-right-radius: 200px;
  }

  .Confirmation-ModelBox{
      background-color: #D4BEA7;
      width: 100%;
      height: 40%;
      border-top-left-radius: 200px;
  }

  .Confirmation-InfoBox{
      /* background-color: lightpink; */
      border-bottom-right-radius: 200px;
      border: 2px solid #404C4C;
      box-sizing: border-box;
      width: 100%;
      height: 60%;
      display: flex;
  }

  .Confirmation-FillerBox{
      width: 0%;
      height: 100%;
      /* background-color: turquoise; */
  }

  .Confirmation-InsideBox{
    width: 90%;
    height: 100%;
    /* backgrou0d-color: yellow; */
    align-self: center;
    margin-left: 30px;
  }

  .Confirmation-btnContainer{
    display: flex;
    justify-Content: flex-start;
    padding-Top: 30px;
  }

  .Confirmation-btnConfirm {
    background-color: #404C4C;
    border: none;
    color: white;
    /* padding: 1px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    width: 150px;
    font-size: 17px;
    /* align-self: flex-start; */
  }

  .Confirmation-NameBox{
    /* background-color: greenyellow; */
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #A95C4C;
  }

  .Confirmation-DetailBox{
    /* background-color: orange; */
    height: 20%;
    color: #D4BEA7;
  }

  .Confirmation-SummaryBox{
    /* background-color: pink; */
    height: 10%;
    display: flex;
  }

  .Confirmation-NotesBox{
    /* background-color: lightgray; */
    height: 25%;
    color: #D4BEA7;
  }

  .Confirmation-QtyBox{
    /* background-color: lightcoral; */
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* color: #404C4C; */
  }

  .Confirmation-PriceBox{
    /* background-color: magenta; */
    height: 50%;
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #404C4C;
  }

  .Confirmation-Message{
      width: 90%;
      height: 12%;
      /* background-color: lightgreen; */
  }

  .Confirmation-Voucher{
      width: 90%;
      height: 12%;
      /* background-color: lightgreen; */
  }

  .Confirmation-input-group {
    display: flex;             /* Menyusun label & input bersebelahan */
    height: 80%;
    width: 100%;
    max-width: 600px;          /* Lebar maksimal */
        /* Sudut melengkung */
    overflow: hidden;          /* Memotong sudut anak elemen */
    /* font-family: 'Times New Roman', serif; Font Serif sesuai gambar */
  }

  /* Bagian Label (Kiri) */
  .Confirmation-input-label {
    background-color: #7f8381; /* Abu-abu gelap */
    color: white;
    padding: 10px 10px;        /* Spasi di sekitar teks label */
    white-space: nowrap;       /* Mencegah teks turun baris */
    display: flex;
    align-items: center;       /* Tengah vertikal */
    font-size: 16px;
    cursor: pointer;           /* Kursor berubah saat hover label */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: auto;
  }

  /* Bagian Input (Kanan) */
  .Confirmation-input-field-customizer{
    background-color: #c4c3bf; /* Abu-abu muda/beige */
    border: none;              /* HAPUS border bawaan browser */
    outline: none;             /* HAPUS garis biru saat diklik */
    flex-grow: 1;              /* Mengisi sisa ruang */
    padding: 10px 15px;        /* Spasi di dalam ketikan */
    font-size: 16px;
    color: #333;               /* Warna teks saat mengetik */
    /* border: 1px solid #404C4C; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* Opsional: Efek saat input diklik/aktif */
  .Confirmation-input-field:focus {
    background-color: #dcdbd7; /* Sedikit lebih terang saat mengetik */
    border-radius: 0px;

  }

  .Confirmation-label{
    background-color: #A95C4C
  }

  .Confirmation-input{
      background-color: #D4BEA7
  }

}

@media (min-width : 1024px) {
  .Customizer-MainSection {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    /* background-color: aqua; */
  }

  .Customizer-SectionContainer {
    height: (56.25rem * 2) + 40vh;
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    /* background-color: aquamarine; */
  }

  .Customizer-box{
      width: 12vw;
      /* background-color: coral; */
  }

  .Customizer-MainBox{
      /* background-color: lightblue; */
      width: 100%;
      height: 85%;
      /* border: 2px solid #404C4C; */
      display: flex;
      /* flex-direction: column; */
      justify-content: center;

  }

  .Customizer-ModelBox{
      background-color: #000000;
      width: 50%;
      height: 100%;
      border-top-left-radius: 200px;
      border-bottom-right-radius: 200px;
  }

  .Customizer-InfoBox{
      /* background-color: lightpink; */
      /* border-bottom-right-radius: 200px; */
      /* border: 2px solid #404C4C; */
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .Customizer-Message{
      width: 90%;
      height: 12%;
      /* background-color: lightgreen; */
  }

  .Customizer-AddModel{
      width: 90%;
      height: 28%;
      /* background-color: lightyellow; */
  }

  .Customizer-Color{
      width: 45%;
      height: 15%;
      /* background-color: lightgreen; */
  }

  .Customizer-Question{
      width: 90%;
      height: 10%;
      /* background-color: lightseagreen; */
  }

  .Customizer-Answer{
      width: 90%;
      height: 10%;
      /* background-color: lightsalmon; */
  }

  /* Container Utama */
  .Customizer-input-group {
    display: flex;             /* Menyusun label & input bersebelahan */
    height: 80%;
    width: 100%;
    max-width: 600px;          /* Lebar maksimal */
        /* Sudut melengkung */
    overflow: hidden;          /* Memotong sudut anak elemen */
    /* font-family: 'Times New Roman', serif; Font Serif sesuai gambar */
  }

  /* Bagian Label (Kiri) */
  .Customizer-input-label {
    background-color: #7f8381; /* Abu-abu gelap */
    color: white;
    padding: 10px 10px;        /* Spasi di sekitar teks label */
    white-space: nowrap;       /* Mencegah teks turun baris */
    display: flex;
    align-items: center;       /* Tengah vertikal */
    font-size: 16px;
    cursor: pointer;           /* Kursor berubah saat hover label */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 30%;
  }

  /* Bagian Input (Kanan) */
  .Customizer-input-field-customizer{
    background-color: #c4c3bf; /* Abu-abu muda/beige */
    border: none;              /* HAPUS border bawaan browser */
    outline: none;             /* HAPUS garis biru saat diklik */
    flex-grow: 1;              /* Mengisi sisa ruang */
    padding: 10px 15px;        /* Spasi di dalam ketikan */
    font-size: 16px;
    color: #333;               /* Warna teks saat mengetik */
    /* border: 1px solid #404C4C; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* Opsional: Efek saat input diklik/aktif */
  .Customizer-input-field:focus {
    background-color: #dcdbd7; /* Sedikit lebih terang saat mengetik */
    border-radius: 0px;

  }

  .Customizer-label-nama{
    background-color: #A95C4C
  }

  .Customizer-input-nama{
      background-color: #D4BEA7
  }

  /* Container Utama Toolbar */
  .Customizer-canvas-toolbar {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px 8px;
    
    /* Efek Visual Warna Taupe/Abu-abu seperti gambar */
    background-color: rgba(121, 117, 107, 0.8); 
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.-1);
  }

  /* Styling Tombol Individual */
  .Customizer-toolbar-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
  }

  .Customizer-toolbar-btn .Customizer-icon {
    font-size: 20px;
    filter: brightness(0) invert(1); /* Membuat emoji/icon jadi putih jika perlu */
    opacity: 0.8;
  }

  /* Hover Effect */
  .Customizer-toolbar-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
  }

  /* Active State */
  .Customizer-toolbar-btn.Customizer-active {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  }

  .Customizer-toolbar-btn .Customizer-active .Customizer-icon {
    opacity: 1;
    transform: scale(1.1);
  }

  /* Garis Pemisah Halus */
  .Customizer-toolbar-divider {
    width: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 4px 0;
  }

  .Customizer-colorAndPrice{
      display: flex;
      width: 90%;
      height: 10%;
      /* background-color: lightcoral; */
  }

  .Customizer-btnAddress {
    background-color: #404C4C;
    border: none;
    color: white;
    /* padding: 1px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    width: 10%;
    font-size: 20px;
  }

  .Confirmation-MainSection {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    /* background-color: aqua; */
  }

  .Confirmation-SectionContainer {
    height: (56.25rem * 2) + 40vh;
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    /* background-color: aquamarine; */
  }

  .Confirmation-box{
      width: 12vw;
      /* background-color: coral; */
  }

  .Confirmation-MainBox{
      /* background-color: lightblue; */
      width: 100%;
      height: 80%;
      /* border: 2px solid #404C4C; */
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      border-top-left-radius: 200px;
      border-bottom-right-radius: 200px;
  }

  .Confirmation-ModelBox{
      background-color: #D4BEA7;
      width: 35%;
      height: 100%;
      border-top-left-radius: 200px;
  }

  .Confirmation-InfoBox{
      /* background-color: lightpink; */
      border-bottom-right-radius: 200px;
      border: 2px solid #404C4C;
      box-sizing: border-box;
      width: 65%;
      height: 100%;
      display: flex;
  }

  .Confirmation-FillerBox{
      width: 15%;
      height: 100%;
      /* background-color: turquoise; */
  }

  .Confirmation-InsideBox{
    width: 70%;
    height: 85%;
    /* background-color: yellow; */
    align-self: center;
  }

  .Confirmation-btnConfirm {
    background-color: #404C4C;
    border: none;
    color: white;
    /* padding: 1px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    width: 244px;
    font-size: 20px;
  }

  .Confirmation-NameBox{
    /* background-color: greenyellow; */
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #A95C4C;
  }

  .Confirmation-DetailBox{
    /* background-color: orange; */
    height: 20%;
    color: #D4BEA7;
  }

  .Confirmation-SummaryBox{
    /* background-color: pink; */
    height: 10%;
    display: flex;
  }

  .Confirmation-NotesBox{
    /* background-color: lightgray; */
    height: 25%;
    color: #D4BEA7;
  }

  .Confirmation-QtyBox{
    /* background-color: lightcoral; */
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* color: #404C4C; */
  }

  .Confirmation-PriceBox{
    /* background-color: magenta; */
    height: 50%;
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #404C4C;
  }

  .Confirmation-Message{
      width: 90%;
      height: 12%;
      /* background-color: lightgreen; */
  }

  .Confirmation-Voucher{
      width: 90%;
      height: 12%;
      /* background-color: lightgreen; */
  }

  .Confirmation-input-group {
    display: flex;             /* Menyusun label & input bersebelahan */
    height: 80%;
    width: 100%;
    max-width: 600px;          /* Lebar maksimal */
        /* Sudut melengkung */
    overflow: hidden;          /* Memotong sudut anak elemen */
    /* font-family: 'Times New Roman', serif; Font Serif sesuai gambar */
  }

  /* Bagian Label (Kiri) */
  .Confirmation-input-label {
    background-color: #7f8381; /* Abu-abu gelap */
    color: white;
    padding: 10px 10px;        /* Spasi di sekitar teks label */
    white-space: nowrap;       /* Mencegah teks turun baris */
    display: flex;
    align-items: center;       /* Tengah vertikal */
    font-size: 16px;
    cursor: pointer;           /* Kursor berubah saat hover label */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 30%;
  }

  /* Bagian Input (Kanan) */
  .Confirmation-input-field-customizer{
    background-color: #c4c3bf; /* Abu-abu muda/beige */
    border: none;              /* HAPUS border bawaan browser */
    outline: none;             /* HAPUS garis biru saat diklik */
    flex-grow: 1;              /* Mengisi sisa ruang */
    padding: 10px 15px;        /* Spasi di dalam ketikan */
    font-size: 16px;
    color: #333;               /* Warna teks saat mengetik */
    /* border: 1px solid #404C4C; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* Opsional: Efek saat input diklik/aktif */
  .Confirmation-input-field:focus {
    background-color: #dcdbd7; /* Sedikit lebih terang saat mengetik */
    border-radius: 0px;

  }

  .Confirmation-label{
    background-color: #A95C4C
  }

  .Confirmation-input{
      background-color: #D4BEA7
  }

  .Confirmation-btnContainer{
    display: flex;
    justify-Content: center;
    padding-Top: 30px;
  }
}

  .Payment-btnConfirm {
    background-color: #404C4C;
    border: none;
    color: white;
    /* padding: 1px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    width: auto;
    font-size: 15px;
  }