body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Playfair Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: "Playfair Display";
}

:root {
  --color-primary: #a55749;
  --color-secondary: #b38d89;
  --color-ternary: #3e4a49;
  --color-background-light: #d4c4b5;
  --color-background-dark: #7d796e;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

h2,
.h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

h3,
.h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.p1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.p2 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.p3 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}

.txt-color-primary {
  color: var(--color-primary);
}

.txt-color-secondary {
  color: var(--color-secondary);
}

.txt-color-ternary {
  color: var(--color-ternary);
}

.txt-color-bg-light {
  color: var(--color-background-light);
}

.txt-color-bg-dark {
  color: var(--color-background-dark);
}

.txt-color-white {
  color: white;
}

.txt-decoration-none {
  text-decoration: none;
}

.weight-regular {
  font-weight: 400;
}

.weight-semibold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.rounded-button-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 1rem;
}

.button-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 1rem;
}

.rounded-button-primary-fill {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 0.5rem;
  width: 100%;
}

.button-primary-fill {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 0.5rem;
  width: 100%;
}

.rounded-button-ternary {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 1rem;
}

.button-ternary {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 1rem;
}

.rounded-button-ternary-fill {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5svh;
  padding: 0.5rem;
  width: 100%;
}

.button-ternary-fill {
  background-color: var(--color-ternary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.5svh;
  padding: 0.5rem;
  width: 100%;
}

.rounded-button-primary:hover,
.button-primary:hover,
.rounded-button-primary-fill:hover,
.button-primary-fill:hover,
.rounded-button-ternary:hover,
.button-ternary:hover,
.rounded-button-ternary-fill:hover,
.button-ternary-fill:hover {
  opacity: 0.9;
}

.rounded-button-primary:disabled,
.button-primary:disabled,
.rounded-button-primary-fill:disabled,
.button-primary-fill:disabled,
.rounded-button-ternary:disabled,
.button-ternary:disabled,
.rounded-button-ternary-fill:disabled,
.button-ternary-fill:disabled {
  background-color: var(--color-background-dark);
  opacity: 0.5;
}

/* HOME PAGE */
.HeroSection {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin-top: -6.25rem;
}

.HeroPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  top: 0;
}

.HeroOverlay {
  position: absolute;
  top: 35vh;
  z-index: 2;
  margin: 9.375rem;
}

.OurStorySectionContainer {
  height: (56.25rem * 2) + 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6.25rem;
  margin: 0;
}

.OurStorySection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.OurStoryImageLeft {
  flex-shrink: 0;
  width: 18.75rem;
  height: 56.25rem;
  border-end-end-radius: 6.25rem;
  padding-top: 20vh;
  overflow: hidden;
}

.OurStoryImageRight {
  flex-shrink: 0;
  width: 18.75rem;
  height: 56.25rem;
  border-start-start-radius: 6.25rem;
  padding-bottom: 20vh;
  overflow: hidden;
}

.OurStoryPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.OurStoryContent {
  flex-grow: 1;
  text-align: center;
  max-width: 37.5rem;
}

.CustomizeYourOwnSectionContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6.25rem;
  margin: 0;
}

.CustomizeYourOwnSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}

.CustomizeImageWrapper {
  flex-shrink: 0;
  width: 45%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  z-index: 2;
}

.CustomizeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CustomizeContent {
  flex-grow: 1;
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  margin-left: -1rem;
  background-color: var(--color-background-light);
  text-align: left;
}

/* SHOP PAGE */
.ShopMostPopularSection {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ShopMostPopularDescription {
  padding: 2.75rem 9.375rem;
  align-self: center;
  text-align: center;
}

/* ABOUT PAGE */
.AboutLandingContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: -6.25rem;
}

.AboutLandingSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  width: 100%;
}

.AboutLandingContentTitle {
  padding-top: 9.063rem;
  padding-left: 9.375rem;
}

.AboutLandingDivider {
  width: 50%;
  border: none;
  border-top: 1px solid var(--color-background-light);
  margin: 0.5rem 0 0.5rem 0;
  align-self: flex-start;
}

.AboutLandingContentTop {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.AboutLandingImageTop {
  width: 44.375rem;
  height: 15.625rem;
  object-fit: cover;
  display: block;
  padding-top: 7.188rem;
}

.AboutLandingContentBottom {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  gap: 7.5rem;
  margin-top: 2.5rem;
}

.AboutLandingImageBottom {
  width: 26.25rem;
  height: 15.625rem;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}

.AboutLandingDescription {
  width: 60%;
}

.AboutPhilosophyContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 12.5rem;
}

.AboutPhilosophySection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AboutPhilosophyTopContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  height: 40vh;
  border: 1px solid black;
}

.AboutPhilosophyHeaderText {
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.AboutPhilosophyDescriptionWrapper {
  width: 70vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AboutPhilosophyDescription {
  width: 90%;
}

.AboutPhilosophyImageBottom {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border: 1px solid black;
}

.AboutPhilosophyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 20%;
}

.AboutOurStoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 9.5rem;
}

.AboutVideoWrapper {
  width: 80vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding-top: 1.875rem;
}

.AboutOurStoryVideo {
  width: 100%;
  height: auto;
  display: block;
}

/* LOGIN AND REGISTER PAGE */
.LoginSection,
.RegisterSection {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/Landing.jpg");
  background-size: 100%;
  display: flex;
  align-items: center;
  padding-left: 9.375rem;
}

.LoginForm,
.RegisterForm {
  width: 35%;
  height: fit-content;
  padding: 4rem 2rem;
  background-color: var(--color-background-light);
  border-radius: 5svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoginLogo,
.RegisterLogo {
  width: 20.938rem;
  height: auto;
  padding-bottom: 2rem;
}

.LoginInputGroup,
.RegisterInputGroup {
  width: 90%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.LoginInput,
.RegisterInput {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5rem;
}

.LoginIcon,
.RegisterIcon {
  padding-right: 0.5rem;
}

.LoginInputTextfield,
.RegisterInputTextfield {
  width: 100%;
  padding: 0.5rem 0.25rem;
  border-radius: 1svh;
  font-size: 1rem;
  background-color: white;
  border: 0;
}

.AlignCenter {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* HELP PAGE */
.HelpLandingSection {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin-top: -6.25rem;
}

.HelpLandingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 85%;
}

.HelpLandingOverlay {
  position: absolute;
  top: 10vh;
  z-index: 2;
  margin: 9.375rem;
}

.FAQSection {
  padding-top: 6.875rem;
  width: 100vw;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6.875rem;
}

.FAQContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.FAQHeader {
  flex: 1;
  max-width: 40%;
  padding-right: 2rem;
}

.FAQList {
  flex: 1;
  max-width: 55%;
}

.FAQItem {
  border-bottom: 1px solid var(--color-secondary);
  padding: 1.2rem 0;
}

.FAQItem:last-child {
  border-bottom: none;
}

.FAQQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.FAQQuestion .toggle {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.FAQQuestion .toggle img {
  width: 100%;
  height: 100%;
}

.FAQQuestion .toggle.open {
  transform: rotate(180deg);
}

.FAQAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out;
}

.FAQAnswerInner {
  padding-top: 0.25rem;
  color: var(--color-text-grey);
}

.ContactCustomerServiceSection {
  width: 100%;
  height: 25vh;
  background-color: var(--color-ternary);
  border-radius: 2.5svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  box-sizing: border-box;
}

.ContactCustomerServiceDescription {
  flex-grow: 1;
}

/* PROFILE PAGE */
.ProfilePageContainer {
  margin: 2.5rem 5rem;
}

.TernaryBackButton {
  background: var(--color-ternary);
  border: none;
  border-radius: 50%;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TernaryBackButton:hover {
  opacity: 0.5;
}

.ProfileSection {
  margin: 0 4.375rem;
}

.ProfileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.ProfileInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ProfileIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  color: var(--color-background-dark);
}

.ProfileActions {
  display: flex;
  gap: 15px;
  font-size: 1.5rem;
  color: var(--color-background-dark);
  cursor: pointer;
}

.ProfileUserDetail {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.ProfileDetailRow {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.ProfileLabel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ProfileLabel label {
  font-size: 0.9rem;
  opacity: 0.8;
}

.ProfileLabel input {
  background-color: rgba(212, 190, 167, 0.5);
  border: none;
  padding: 1rem;
  border-radius: 8px;
}

.ProfileLabel input::placeholder {
  color: #a0a0a0;
}

.ProfileLabel input:focus {
  outline: 0;
}

.ProfileLabel input.read-only-input {
  cursor: default;
  background-color: rgba(212, 190, 167, 0.3);
}

.ProfileLabel input.read-only-input:focus {
  outline: none;
}

.ProfileEditButtonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  gap: 1rem;
  transition: opacity 0.3s ease;
}

.MyOrderSection {
  background-color: rgba(212, 190, 167, 0.3);
  padding: 1.875rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ErrorMessage {
  color: #d93025;
  font-size: 0.75rem;
  margin-top: -15px; /* Pulls it up closer to the inputs */
  margin-bottom: 15px;
  font-weight: 500;
}

.ProfileLabel input.invalid {
  border: 1px solid #d93025;
}

/* ORDER DETAIL PAGE */
.OrderDetailSection {
  margin: 2.5rem 5rem;
}

.PrimaryBackButton {
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PrimaryBackButton:hover {
  opacity: 0.5;
}

.OrderDetailCard {
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-ternary);
}

.OrderDetailCardHeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.OrderTracker {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 2rem 3rem 2rem;
}

.OrderDetailTrackerLineBackground {
  position: absolute;
  top: 0.625rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  background-color: var(--color-background-light);
  z-index: 1;
  border-radius: 2px;
}

.OrderDetailTrackerLineProgress {
  position: absolute;
  top: 0.625rem;
  left: 0;
  height: 0.2rem;
  background-color: var(--color-primary);
  z-index: 2;
  border-radius: 2px;
  transition: width 0.5s ease-in-out;
}

.OrderDetailStepItem {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5rem;
}

.OrderDetailStepCircle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  border: 0.25rem solid var(--color-background-light);
  margin-bottom: 12px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.OrderDetailStepItem.active .OrderDetailStepCircle.active {
  border-color: var(--color-primary);
}

.OrderDetailDeliverySummaryRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1.5rem;
}

.DeliveryInfoRow {
  margin: 1rem 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.DeliveryInfoRow .label {
  display: inline-block;
  width: 150px;
  color: var(--text-grey);
}

.DeliveryInfoRow .value {
  font-weight: 500;
}

.CopyButton {
  background: white;
  border: 1px solid #ccc;
  font-size: 10px;
  padding: 2px 6px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 2px;
  color: #555;
  transition: all 0.2s;
}

.CopyButton:hover {
  border-color: var(--text-dark);
  color: var(--text-dark);
}

.OrderDetailBottomCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.OrderDetailCustomerSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.OrderDetailInfoGrid {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 12px 0;
  font-size: 14px;
  margin-bottom: 40px;
}

.OrderDetailInfoGrid .label {
  color: var(--text-grey);
}

.OrderDetailInfoGrid .value {
  color: var(--text-dark);
}

.OrderDetailInfoGrid .value.link {
  text-decoration: underline;
  cursor: pointer;
}

.OrderDetailContactAdmin {
  text-decoration: underline;
  margin-top: auto;
  display: inline-block;
}

.OrderDetailProductItem {
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid var(--color-background-dark);
  padding-bottom: 2.5rem;
}

.OrderDetailProductImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  background-color: #eee;
  margin-right: 1.25rem;
  border-radius: 2.5svh;
}

.OrderDetailProductDetails {
  flex: 1;
}

.OrderDetailProductItems {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.OrderDetailQuantityRow {
  font-weight: bold;
  font-size: 13px;
  margin: 1rem 0;
}

.OrderDetailNotes {
  color: var(--color-background-dark);
  margin-top: 1rem;
  line-height: 1.4;
}

.OrderDetailNoteLabel {
  font-style: italic;
  margin-right: 0.5rem;
}

.OrderDetailPricingBreakdown {
  padding-top: 1rem;
}

.OrderDetailPriceRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.OrderDetailPriceRow.total {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-background-dark);
}

/* ADDRESS PAGE */
.AddressSection {
  min-height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  box-sizing: border-box;
}

.AddressSectionContainer {
  width: 85vw;
  display: flex;
  flex-direction: column;
}

.AddressBox {
  width: 100%;
  border: 1px solid var(--color-ternary);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: #fff;
}

/* Modern Grid Layout: 3 Columns */
.AddressFormGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.AddressFormGrid .FormColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.AddressFormGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.AddressFormGroup input, 
.AddressFormGroup select, 
.AddressFormGroup textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 1svh;
  border: none;
  background-color: rgba(212, 190, 167, 0.5);
  box-sizing: border-box;
}

.AddressFormGroup input:focus, 
.AddressFormGroup select:focus, 
.AddressFormGroup textarea:focus {
  outline: 0;
}

.AddressFormGroup textarea {
  height: 7.5rem;
  resize: none;
}

.AddressButtonContainer {
  grid-column: 1 / span 3;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}